/*.searchDiv {*/
/*    margin-bottom: 40vh;*/
/*    position:absolute;*/
/*}*/

.s {
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}



/*.showAll {*/
/*    border-radius: 30px;*/
/*    border-color: #61dafb;*/
/*    margin-top: 20vh;*/
/*    position:absolute;*/
/*}*/