.item-block-left {
 float:left;
 padding-top: 7px;
 padding-left: 8px;
 padding-bottom: 2px;
}

.coin-title{
 font-size: 20px;
 font-family: "Droid Sans Mono Dotted",sans-serif;
 padding: 2px
}

.item-block-right {
 float:right;
 padding-right:8px;
}

.price {
 font-size: 20px;
 padding: 3px;
 font-family: "Droid Sans Mono Dotted",sans-serif;
}
