.toolbar {
    background-color: #080808;
    padding: 8px;
}

.title {
    font-family: "Lucida Console", serif;
    padding:8px;
}
.button_stack {
    display:flex;
    flex: 1;
    justify-content: right;
    padding:8px;
}

.main_div_mobile {
    padding:22vh;
    justify-content: center;
    display:flex;
    background-color: #110b1a;
}

.toolbar_mobile_under {
    justify-content: center;
    display:flex;
    background-color: #311a46;
}

.mainHeaderSvg_mobile {
    width:150px;
    display:flex;
}
.title_mobile {
    justify-content: space-evenly;
    font-family: "Lucida Console", serif;
    color:white;
}
